@model Client.Models.CategoryForm
@{
    ViewData["Title"] = "Add a new category";
}

<div class="container">
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @ViewBag.Error
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div id="warning" class="alert alert-warning alert-dismissible" style="display: none" role="alert">
        <span id="alert-text"></span>
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-header">
            <h3>Add Category</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post, new { id = "CategoryForm" }))
            {
                <div class="row mb-2">
                    <div class="col-xl-2 col-lg-2 col-md-12">
                        <label for="title">Title</label>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <input id="title" name="Title" type="text" class="form-control" value="@Model?.Title" required />
                    </div>
                </div>
                <div>
                    <button id="saveCategory" type="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/js/category.js" asp-append-version="true"></script>